@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.snek-logo {
  display: block;
  width: 326px;
  margin: 30 auto;
}

.info {
  display: flex;
  width: 320px;
  align-items: center;
  justify-content: space-between;
  margin: 60 auto 5 auto;
  color: black;
}
.info__start {
  cursor: pointer;
}

.board {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
  margin: 10 auto;
  border: black solid 3px;
  font-size: 30px;
  color: red;
}
.board div {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}
.board__snake {
  background-color: olivedrab;
}
.board__apple {
  background-color: red;
}

.game-over {
  background-color: rgba(0, 0, 0, 0.3);
}

.game-over2 {
  background-color: rgba(0, 0, 0, 0.6);
}

.youDied {
  color: black;
  text-align: center;
}